spring.datasource.url=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
spring.datasource.username=${POSTGRES_USER}
spring.datasource.password=${POSTGRES_PASSWORD}
auth.server.url=http://${AUTH_HOST}:${AUTH_PORT}/${AUTH_ENDPOINT}
auth.server.clientId=${AUTH_SERVER_CLIENTID}
auth.server.clientSecret=${AUTH_SERVER_CLIENTSECRET}

