# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    machine: true

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: sudo apt update
      - run: sudo apt install postgresql-client
      #- run: sudo -u postgres psql -p 5432 -c "create user ubuntu with password 'ubuntu';"
      #- run: sudo -u postgres psql -p 5432 -c "alter user ubuntu with superuser;"
      #- run: sudo -u postgres psql -p 5432 -c "create database test_db;"

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      # run tests!
      #- run: mvn integration-test

      # build
      - run: mvn clean package
